$darkViolet: hsl(278, 68%, 11%);


@mixin flex ($dis, $direction, $axis, $just, $align) {
    display: $dis;
    flex-flow: $direction $axis;
    justify-content: $just;
    align-items: $align;
}

@mixin text ($size, $weight, $letterSpicing, $wordSpicing){
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $letterSpicing;
    word-spacing: $wordSpicing;
}

body {
    @include flex(flex, row, nowrap, center, center);
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    color: $darkViolet;
    text-transform: uppercase;
    hyphens: none;
    background: url(../images/bg-main-desktop.png) left center / 35% 100% no-repeat;
}

.container {
    @include flex(flex, row, nowrap, center, center);
    width: 90%;
    column-gap: 10rem;
}

.cards {
    @include flex(flex, column, nowrap, unset, center);
    flex-basis: 40%;
    row-gap: 2em;

    .user-card-front {
        width: 27rem;
        height: 15rem;
        padding: 2rem;
        margin-left: 5rem;
        align-self: center;
        background: url(../images/bg-card-front.png) left top / 100% 100% no-repeat;
        color: white;
        
        .card-logo {
            @include flex(flex, row, nowrap, flex-start, center);
            img {
                align-self: flex-start;
                width: 5rem;
            }
        }
        
        .card-number {
            padding: 4.2rem 0 1.8rem;
            font-size: 1.5rem;
            font-weight: 500;
            letter-spacing: 0.3rem;
            word-spacing: 0.1rem;
        }
    
        .client {
            @include flex(flex, row, nowrap, space-between, none);
            font-size: .8rem;
            font-weight: 500;
            letter-spacing: 0.2rem;
        }
    }

    .user-card-back {
        width: 27rem;
        height: 15rem;
        padding: 3rem;
        align-self: flex-end;
        @include flex(flex, column, nowrap, center, flex-end);
        background: url(../images/bg-card-back.png) right bottom / 100% 100% no-repeat;
        color: white;
    
        .back-number {
            @include text(0.9em, 500, 0.2rem, unset);
        }
    }

}

.form-container {
    @include flex(flex, column, nowrap, center, center);
    flex-basis: 40%;

    .form {
        align-self: flex-start;
        @include flex(flex, column, nowrap, unset, unset);
        width: 60%;
        font-size: .9rem;
        letter-spacing: 0.1rem;
        
        .input-box {
            width: 100%;
            margin-top: 1.5rem;
            display: block;
            
            label {
                display: block;
                margin-bottom: .5em;
                font-weight: 700;
            }
            
            .input-info {
                width: 100%;
                padding: 0.8rem;
                border-radius: 8px;
                outline: 1px solid rgba(0, 0, 0, .3);
                color: hsl(278, 68%, 11%);
                font-size: 1.2em;
                font-weight: 500;
                cursor: pointer;
                
                &:focus {
                    outline: 1px solid $darkViolet;                    
                }

            }
            
            .input-info-error {
                outline: 1px solid red;
                &:focus {
                    outline: 1px solid red;
                }
            }
            
        }
        
        .input-error {
            margin: 0;
            padding: .5rem 0 0 0;
            @include text(0.9em, 500, 0, 0);
            text-transform: none;
            color: red;
            display: none;
        }
        
        .input-error-active {
            display: block;
        }

        .error-format {
            display: none;
        }

        .error-format-active {
            display: block;
        }

        .input-box:first-of-type {
            margin-top: 0;
        }
    
        .input-flex {
            display: flex;
            column-gap: 1.5em;
            
            .input-dates {
                flex: 1 1 9em;
    
                .input-date-select {
                    display: flex;
                    column-gap: .5em;
                }
            }
    
            .input-cvv {
                flex: 1 1 9em;
            }
        }
        
        .submit-btn {
            width: 100%;
            margin-top: 2rem;
            padding: 1em;
            font-size: 1rem;
            color: white;
            background-color: $darkViolet;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    .form-inactive {
        display: none;
    }
    
    .success {
        align-self: flex-start;
        width: 60%;
        display: none;
        
            @include flex(flex, column, nowrap, center, center);
            @include text(0.9em, unset, 0.1rem, unset);
            gap: 2rem;

            img {
                width: 5rem;
            }
            
            .thanks {
                @include text(1.8em, bold, 0.2em, unset);
            }
            
            .checked-message {
                @include text(1.1em, 700, unset, unset);
                color: grey;
                text-transform: none;
            }
            
            .continue {
                width: 100%;
                margin-top: 1rem;
                padding: .8em;
                font-size: 1.2rem;
                color: white;
                background-color: $darkViolet;
                border-radius: 10px;
                cursor: pointer;
            }
        }
        
       
    .success-inactive {
        display: none;
    }
}

/** Media queries **/
@media (max-width: 480px) {
    body {
        background: url(../images/bg-main-desktop.png) top center / 100% 30% no-repeat;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    .container {
        @include flex(flex, column, nowrap, center, center);
        width: 90%;
        row-gap: 2rem;
        margin: 2rem 0;
    }

    .cards {
        display: grid;
        width: 100%;
        row-gap: 0;

        .user-card-front {
            display: grid;
            order: 1;
            grid-area: 1/1/1/3;
            width: 20rem;
            height: 11rem;
            margin: 6.2rem 0 0 0;
            padding: 1.2rem;
            background: url(../images/bg-card-front.png) left top / 100% 100% no-repeat;
            color: white;

            .card-logo {
                @include flex(flex, row, nowrap, flex-start, center);

                img {
                    align-self: flex-start;
                    width: 3.3rem;
                }
            }

            .card-number {
                padding: 2.2rem 0 1rem;
                @include text(1.2em, 500, 0.15rem, 0.1rem);
            }

            .client {
                @include flex(flex, row, nowrap, space-between, unset);
                @include text(0.8em, 500, 0.2rem, unset);
            }
        }

        .user-card-back {
            grid-area: 1/3/1/1;
            align-self: start;
            justify-self: end;
            width: 20rem;
            height: 11rem;
            padding: 3rem;
            @include flex(flex, column, nowrap, center, flex-end);
            background: url(../images/bg-card-back.png) right bottom / 100% 100% no-repeat;
            color: white;

            .back-number {
                @include text(0.9em, 500, 0.2rem, unset);
            }
        }

    }

    .form-container {
        width: 100%;
    
        #form {
            width: 100%;
        }

    }

    .submit-btn {
        width: 90%
    }

    #success {
        align-self: center;
        width: 100%;
        margin-left: 0;
        
        #continue {
            width: 100%;
            min-width: 0;
        }
    }
}

@media (min-width: 481px) and (max-width: 1300px) {
    body {
        align-items: center;
    }

    .container{
        width: 95%;
        column-gap: 5rem;
    }

    .cards {
        flex-basis: 50%;

        .user-card-front {
            width: 24rem;
            height: 13rem;
            padding: 1rem;
            margin-left: 3rem;
            align-self: flex-start;

            .card-number {
                padding: 3.2rem 0 1.6rem;
                font-size: 1.4em;
            }

            .client {
                font-size: .9rem;
            }
        }

        .user-card-back {
            width: 24rem;
            height: 13rem;

            .back-number {
                @include text(0.9em, 500, unset, unset);
            }
        }

    }

    #form {
        width: 85%;
    }

    #success {
        width: 85%;
        
        .continue {
            width: 100%;
        }
    }

}